{#
/**
 * @file
 * Template for Content Radar search results.
 *
 * Available variables:
 * - results: Array of all result items.
 * - grouped_results: Results grouped by entity type.
 * - total: Total number of results.
 * - search_term: The search term used.
 * - is_regex: Whether regex was used.
 * - langcode: Language code searched.
 * - export_url: URL to export results as CSV.
 */
#}
<div class="content-radar-results">
  <div class="results-header">
    <h3>{{ 'Search Results'|t }}</h3>
    <div class="results-actions">
      {% if export_url %}
        <a href="{{ export_url }}" class="button button--small">{{ 'Export to CSV'|t }}</a>
      {% endif %}
    </div>
  </div>

  {% if total > 0 %}
    <div class="results-summary">
      {{ 'Found @count results for "@term"'|t({'@count': total, '@term': search_term}) }}
      {% if langcode %}
        {{ 'in @language'|t({'@language': langcode}) }}
      {% endif %}
    </div>

    {% for entity_type, items in grouped_results %}
      <details class="entity-type-group" open>
        <summary>
          {{ entity_type|capitalize }} ({{ items|length }})
          <input type="checkbox" class="select-group-checkbox" data-entity-type="{{ entity_type }}">
        </summary>
        <div class="entity-type-results">
          {% for item in items %}
            {{ {'#theme': 'content_radar_result_item', '#item': item} }}
          {% endfor %}
        </div>
      </details>
    {% endfor %}
  {% else %}
    <div class="no-results">
      {{ 'No results found.'|t }}
    </div>
  {% endif %}
</div>