{#
/**
 * @file
 * Template for Content Radar report details.
 *
 * Available variables:
 * - report: The report object.
 * - summary: Summary information array.
 * - details: Detailed replacement information.
 * - back_url: URL to go back to reports list.
 * - export_url: URL to export report.
 * - show_undo: Whether to show undo button.
 * - undo_url: URL to undo changes.
 */
#}
<div class="content-radar-report-details">
  <div class="report-actions">
    <a href="{{ back_url }}" class="button">{{ 'Back to reports'|t }}</a>
    <a href="{{ export_url }}" class="button">{{ 'Export CSV'|t }}</a>
    {% if show_undo %}
      <a href="{{ undo_url }}" class="button button--danger">{{ 'Undo changes'|t }}</a>
    {% endif %}
  </div>

  <div class="report-summary">
    <h3>{{ 'Report Summary'|t }}</h3>
    <dl>
      <dt>{{ 'Date'|t }}</dt>
      <dd>{{ summary.created }}</dd>
      
      <dt>{{ 'User'|t }}</dt>
      <dd>{{ summary.user }}</dd>
      
      <dt>{{ 'Search term'|t }}</dt>
      <dd><code>{{ summary.search_term }}</code></dd>
      
      <dt>{{ 'Replace term'|t }}</dt>
      <dd><code>{{ summary.replace_term }}</code></dd>
      
      <dt>{{ 'Regular expression'|t }}</dt>
      <dd>{{ summary.use_regex }}</dd>
      
      <dt>{{ 'Language'|t }}</dt>
      <dd>{{ summary.language }}</dd>
      
      <dt>{{ 'Total replacements'|t }}</dt>
      <dd>{{ summary.total_replacements }}</dd>
      
      <dt>{{ 'Affected entities'|t }}</dt>
      <dd>{{ summary.affected_entities }}</dd>
    </dl>
  </div>

  {% if details %}
    <div class="report-details">
      <h3>{{ 'Affected Entities'|t }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'Entity Type'|t }}</th>
            <th>{{ 'ID'|t }}</th>
            <th>{{ 'Title'|t }}</th>
            <th>{{ 'Bundle'|t }}</th>
            <th>{{ 'Language'|t }}</th>
            <th>{{ 'Actions'|t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for entity_info in details %}
            {% if entity_info.entity_type is defined %}
              <tr>
                <td>{{ entity_info.entity_type }}</td>
                <td>{{ entity_info.id }}</td>
                <td>{{ entity_info.title }}</td>
                <td>{{ entity_info.type }}</td>
                <td>{{ entity_info.langcode }}</td>
                <td>
                  <a href="{{ path('entity.' ~ entity_info.entity_type ~ '.canonical', {(entity_info.entity_type): entity_info.id}) }}">{{ 'View'|t }}</a>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>